/* ALL */
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* NAV */
.header{
    position: fixed;
    z-index: 11000;
}
.div__link{
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    text-align: center;
    background-color: #fd5;
    justify-content: center;
    align-items: center;
}
.title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: #444;
}

/* SECTION */
.section__background{
    /* opacity: .5; */
    height: 800px;
    background-color: #fff;
    border-bottom: 5px solid #000;
    transition-duration: .5s;
}
#section__one{
    margin-top: 80px;
}
.background__darkmode{
    /* opacity: .5; */
    background-color: #222e;
    border-bottom: 5px solid #fff;
    transition-duration: .5s;
}
.subtitle{
    padding-top: 100px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.subtitle__darkmode{
    color: #fff !important;
}

/* ICON NAV */
.icon{
    position: sticky;
    top: 85vh;
    left: 92vw;
    font-size: 40px;
    cursor: pointer;
    z-index: 10000;
}
.bars__icon{
    position: absolute;
    padding: 15px;
    left: 90vw;
    width: 40px;
    height: 40px;
    color: #000;
    background-color: #ff0;
    border-radius: 17px;
    text-align: center;
    transition-duration: .7s;
}
.bars__icon:hover{
    color: #ff0;
    background-color: #000;
}

/* ICON BACK TOP */
.icon__back{
    display: none;
}
.icon__back-active{
    display: block;
    opacity: 100;
    visibility: visible;
    position: sticky;
    top: 85vh;
    font-size: 40px;
    cursor: pointer;
    z-index: 10000;
}
.top__icon{
    position: absolute;
    padding: 15px;
    left: 82vw;
    width: 40px;
    height: 40px;
    color: #000;
    background-color: #ff0;
    border-radius: 17px;
    text-align: center;
    transition-duration: .7s;
}
.top__icon:hover{
    color: #ff0;
    background-color: #000;
}

/* ICON CHANGE THEME */
.change__theme{
    display: block;
    opacity: 100;
    visibility: visible;
    position: sticky;
    top: 85vh;
    font-size: 40px;
    cursor: pointer;
    z-index: 10000;
}
.icon__theme{
    position: absolute;
    padding: 15px;
    left: 1vw;
    width: 40px;
    height: 40px;
    color: #000;
    background-color: #ff0;
    border-radius: 17px;
    text-align: center;
    transition-duration: .7s;
}
.icon__theme:hover{
    color: #ff0;
    background-color: #000;
}

/* NAV */
.nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -100vw;
    width: 70vw;
    height: calc(100vh - 80px);
    transition-duration: .7s;
}
.nav__active{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 70vw;
    height: calc(100vh - 80px);
}
.nav__item{
    display: inline-block;
    flex-grow: 1;
    width: 70vw;
    font-size: 25px;
    color: #ff0;
    background-color: #000c;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: .7s;
}
.nav__item:hover{
    color: #000;
    background-color: #ff0c;
}

/* RELOJ */
.time{
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
}
.time__live{
    display: none;
    padding: 0 0 20px 0;
    font-size: 30px;
    font-weight: 700;
}
.time__live-active{
    display: block;
    padding: 0 0 20px 0;
    font-size: 30px;
    font-weight: 700;
    transition-duration: .5s;
}
.time__live-active-darkmode{
    color: #fff;
}
.btn__clock{
    margin: 0 10px;
    width: 110px;
    height: 35px;
    border: 2px solid #000;
    cursor: pointer;
}
.btn__clock:disabled{
    color: #0005;
    background-color: #ccc;
    border: 2px solid #fff;
    cursor: default;
}
.btn__clock-darkmode{
    color: #fff;
    background-color: #557;
    border: 2px solid #fff;
    cursor: pointer;
}
.btn__clock-darkmode:disabled{
    color: #0005;
    background-color: #aac;
    border: 2px solid #fff;
}

/* EVENTOS DEL TECLADO */
.game__zone-border{
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    width: 85%;
    height: 400px;
    background-color: #000;
    justify-content: center;
    align-items: center;
}
.game__zone{
    display: flex;
    width: 95%;
    height: 95%;
    background-color: #fff;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.game__ball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f00;
}

/* CUENTA REGRESIVA */
.time__accountant{
    margin-top: 40px;
    font-size: 25px;
    color: #222;
    text-align: center;
}
.time__accountant-darkmode{
    margin-top: 40px;
    font-size: 25px;
    color: #fff;
    text-align: center;
}
.congratulations{
    font-family:'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 700;
    color: #f00;
    text-transform: uppercase;
}

/* RESPONSIVE DESING */
.responsive__container{
    margin: 0 auto;
    width: 90%;
}
.element__container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-top: 30px;
    background-color: #f005;
    justify-content: center;
    align-items: center;
}
.element__container > * {
    margin: 10px;
}
.element__container-mobile{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}
.element__container-mobile > * {
    margin: 10px;
}
.element__mobile{
    color: #fff;
    text-transform: uppercase;
}

/* RESPONSIVE TESTER */
.form__container{
    margin: 0 auto;
    margin-top: 30px;
    width: 80%;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input__form{
    margin: 6px 0;
    padding-left: 10px;
    width: 160px;
    height: 25px;
    border: 3px solid #000;
}
.input__form::placeholder{
    color: #000;
    font-weight: 600;
}
.submit__container{
    display: flex;
    justify-content: center;
}
.submit__form{
    margin: 5px;
    width: 82px;
    height: 25px;
    color: #000;
    font-weight: 600;
    border: 3px solid #555;
    cursor: pointer;
}

/* DETECCION DE DISPOSITIVO */ 
.user__device{
    margin-top: 30px;
}
.list__device-items{
    margin: 0 auto;
    width: 80%;
    color: #f00;
}
.list__device-items > li {
    margin: 10px 0;
    list-style: none;
    text-transform: uppercase;
}
.list__device-items > li > b {
    color: #0f0;
    text-transform: none;
}

/* STATUS RED */
.status__red{
    display: none;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #0c0;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}
.status__red-online{
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #0c0;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    animation-name: statusKeyOnline;
    animation-duration: 3s;
}
.status__red-offline{
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #c00;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    animation-name: statusKeyOffline;
    animation-duration: 3s;
}
.status__red-info{
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

@keyframes statusKeyOffline{
    0%, 100%{
        transform: translateY(-200px);
    }
    25%, 75%{
        transform: translateY(0px);
    }
}
@keyframes statusKeyOnline{
    0%, 100%{
        transform: translateY(-200px);
    }
    25%, 75%{
        transform: translateY(0px);
    }
}

/* MEDIA DEVICE */
.media__device{
    display: flex;
    margin: 30px auto;
    width: 50%;
    height: 400px;
}

/* GEOLOCALIZACION */
.geolocation{
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    color: #fff;
    font-size: 25px;
    align-items: center;
}

.geolocation a {
    margin: 20px auto;
    color: #aaf;
}

/* FILTRO DE BUSQUEDA */
.subtitle--filter{
    padding-top: 50px;
}
.card__filter{
    display: block;
    margin: 15px auto;
    padding-left: 10px;
    width: 200px;
    height: 30px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 15px auto;
    width: 60%;
}
.card{
    display: flex;
    flex-direction: column;
    margin: 5px;
    transition: all .3s;
}
.card__figcaption{
    width: 100%;
    height: 30px;
    color: #ff0;
    background-color: #222e;
    font-family: Roboto;
    text-align: center;
    line-height: 30px;
}
.filter{
    visibility: hidden;
    opacity: 0;
    order: 1;
}

/* SORTEO DIGITAL */
.players{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 80%;
    align-items: center;
}
.player{
    display: block;
    /* margin: 5px 0; */
    width: 50%;
    height: 25px;
    color: #ff5555;
    border: 1px solid #fff;
    font-family: Roboto;
    list-style: none;
    text-align: center;
    line-height: 25px;
}
.winner__btn{
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 25%;
    color: #ff5555;
    background-color: #222255;
    font-family: Roboto;
    cursor: pointer;
}
.winner__info{
    display: none;
}
.winner__info-active{
    display: block;
    margin: 0 auto;
    width: 80%;
    font-family: Roboto;
    font-weight: 700;
    color: #ff5555;
    text-align: center;
    text-transform: uppercase;
}

/* SLIDER */
.slider__container{
    position: relative;
    margin: 20px auto;
    width: 80%;
}
.photo__container{
    display: none;
}
.photo__container-left{
    display: block;
    margin: 0 auto;
    width: 90%;
    animation-name: startAnimationLeft;
    animation-duration: .5s;
}
.photo__container-right{
    display: block;
    margin: 0 auto;
    width: 90%;
    animation-name: startAnimationRight;
    animation-duration: .3s;
}
.img__slider{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.icon__direction{
    font-size: 60px;
    cursor: pointer;
    background: #fff;
    border-radius: 10px;
    transition-duration: .3s;
}
.icon__direction:hover{
    color: #fff;
    background: #555;
}
.slider__left{
    position: absolute;
    top: calc(50% - 30px);
    left: -40px;
}
.slider__right{
    position: absolute;
    top: calc(50% - 30px);
    right: -40px;
}

@keyframes startAnimationLeft{
    0%{
        transform:translateX(500px);
        opacity: 0;
    }
    50%{
        transform:translateX(-50px);
    }
    100%{
        transform:translateX(0);
        opacity: 1;
    }
}

@keyframes startAnimationRight{
    0%{
        transform:translateX(-500px);
        opacity: 0;
    }
    50%{
        transform:translateX(50px);
    }
    100%{
        transform:translateX(0);
        opacity: 1;
    }
}

/* INTERSECTION OBSERVER */
.observer{
    opacity: 1;
    background-color: #777;
    animation-name: colorcito;
    animation-duration: .5s;
}

@keyframes colorcito{
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}

.background__nav{
    background-color: #ff0;
    color: #000;
}

/* SMART VIDEO */
.smart__video-container{
    display: flex;
    margin: 25px auto;
    width: 100%;
    justify-content: center;
}
.video__icon-container{
    position: relative;
}
.icon__sound{
    position: absolute;
    top: 85%;
    left: 90%;
    opacity: .5;
    color: #fff;
    background-color: #222a;
    font-size: 40px;
    border-radius: 50%;
    z-index: 2000;
    cursor: pointer;
    transition-duration: .5s;
}
.icon__sound:hover{
    opacity: 1;
}